*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: "Chilanka", cursive;

    @media only screen and (max-width: 1175px){
        font-size: 90%;
    }

    @media only screen and (max-width: 1050px){
        font-size: 80%;
    }

    @media only screen and (max-width: 950px){
        font-size: 70%;
    }

    @media only screen and (max-width: 850px){
        font-size: 65%;
    }

    @media only screen and (max-width: 760px){
        font-size: 60%;
    }

}
