.heading-1{
    font-size: 5rem;
    transition: all 1s;
    animation: fadeInDown 1s ease-in 1s;
    text-transform: uppercase;
}

.heading-2{
    font-size: 3rem;
    text-align: center; 
    text-transform: uppercase;
}
