.u-text-center{
    text-align: center;
}

.u-grid-column-2-3{
    grid-column: 2/3;
}

.u-justify-self-center{
    justify-self: center;
}

.u-align-self-center{
    align-self: center;
}

.u-margin-top-sm{
    margin-top: 2rem;
}

.u-margin-top-md{
    margin-top: 4rem;
}

.u-margin-top-lg{
    margin-top: 6rem;
}

