//COLORS

$color-yellow-background: rgb(254, 253, 225);

$color-green-sticky-light: rgb(165, 255, 147);
$color-green-sticky: rgb(137, 223, 120);


$color-orange-sticky-light :rgb(236, 181, 79);
$color-orange-sticky :rgb(248, 174, 77);

$color-yellow-sticky-light:rgb(253, 253, 182);
$color-yellow-sticky: rgb(255, 255, 136);

$color-task-blue-sticky: rgb(170, 211, 250);
$color-task-red-sticky: rgb(255, 189, 189);
$color-task-green-sticky: rgb(173, 250, 170);

$color-font-red: rgb(255, 109, 109);
$color-font-yellow: rgb(234, 236, 115);
$color-font-blue: rgb(83, 118, 233);
$color-font-green: rgb(100, 233, 83);

$color-tape: rgba(39, 37, 37, 0.102);
