.Home{
    padding: 3rem 5rem;
    min-height: 100vh;
    height: fit-content;
}

.Date{
    transition: all 2s;
}

.Information{
    grid-column: 2/-1;
    display: grid;
    transition: all 3s;
    justify-items: center;
    position: relative;
    grid-template-columns: minmax(min-content, 44%) minmax(min-content, 56%) ;
}

.Tasks{
    grid-column: 2/4;
    margin-top: 2rem;
    height: fit-content;
    transition: all 3s;

    &__heading{
     
        text-align: center;
        font-weight: 1000;

        &--text{
            background-color: rgba(#00d5ff, .4);
            text-decoration: underline;
            padding: .3rem .5rem;

            &-time{
                display: inline-block;
                font-size: 2rem;
                margin-top: 3rem;
                padding: .3rem;
                background-color: rgba(#c724b1, .4);
            }
        }
        
    }

    &__icon{
        width: 5rem;
        height: 5rem;
        margin-left: 2rem;
        transform: translateY(1rem);
    }

    &__plusIcon{
        width: 4rem;
        height: 4rem;
        transform: rotate(-45deg);
        transition: all .2s;
        margin-bottom: 2rem;

        &-box{
           margin-top: 3rem; 
           text-align: center;
        }

        &-button{
            background-color: transparent;
            height: 0rem;
            border: none;
            outline: none;
            
            &:active{
                transform: translateY(.2rem);
            }
        }

        &:hover{
            transform: scale(1.2) rotate(-45deg);
        }
    }

    &__NoneSticky{
        grid-column: 1/-1;
        background-image: linear-gradient(to bottom, $color-yellow-sticky-light, $color-yellow-sticky);
        width: 80%;
        text-align: center;
        padding: 1.5rem;
        margin-top: 2rem;
        box-shadow: 1rem 1rem 1rem rgba(black, .1);
        transform: skewX(-1rem) skewY(-1rem);

        &::before{
            content: "";
            display: block;
            position: relative;
            width: 9rem;
            top: 0rem;
            left: -3.9rem;
            height: 2.3rem;
            background-color: $color-tape;
            z-index: 4;
            transform: rotate(-45deg);
        }
    
        &::after{
            content: "";
            display: block;
            position: relative;
            top: .5rem;
            left: 90.5%;
            width: 9rem;
            height: 2.3rem; 
            background-color: $color-tape;
            z-index: 4;
            transform: rotate(-45deg);
        }
    }

    &__todos{
        
        display: grid;
        grid-template-columns: repeat(2 , minmax(min-content, 50%));
        justify-items: center;
        align-items: start;
    }

    &__buttons{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 4rem;
      }

}