.buttonSticky{
    z-index: 4;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, $color-yellow-sticky-light, $color-yellow-sticky);
    outline: none;
    border: none;
    color: black;
    width: 60%;
    height: 3.5rem;
    border-radius: .2rem;
    font-family: inherit;
    padding-top: .3rem;
    margin-top: 2.5rem;
    box-shadow: 0 1rem .5em rgba(black, .1);
    transition: .2s all;

    &__box{
        display: grid;
        justify-items: center;
    }

    &:hover{
        transform: translateY(-.5rem);
    }

    &:active{
        transform: translateY(0); 
    }
}