.InputStickyNote{
    display:grid;
    margin-top: 2rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 20% 70%;
    justify-items: start;

    &--firstName{
        margin-left: 15%;
        margin-top: 2rem;   
        display: inline-block;
        width: 37.8%;  
        @media only screen and (max-width: 550px){
            font-size: 1.2rem;
        }
    }

    &--lastName{ 
        display: inline-block;
        width: 37.8%;
        @media only screen and (max-width: 550px){
            font-size: 1.2rem;
        }
    }
}

.InputSticky{
    z-index: 4;
    font-size: 2rem;
    background-image: linear-gradient(to bottom, $color-orange-sticky-light, $color-orange-sticky);
    outline: none;
    border: none;
    display:inline-block;
    color: black;
    width: 80%;
    height: 3.5rem;
    border-radius: .2rem;
    font-family: inherit;
    justify-self: center;
    padding-left: 2rem;
    padding-top: .3rem;
    box-shadow: 0 .5rem .5rem rgba(black, .1);

    &--invalid{
        border-bottom: .3rem solid red;
    }


    &::placeholder{
        margin-top: 2.1rem;
    }

    &__icon{
        width: 3rem;
        height: 3rem;
        justify-self: flex-end;
        transition: all .2s;
        
        &:hover{
            transform: translateY(-.5rem);
        }
    }
}

