.LocationSticky{
    background-image: linear-gradient(to bottom, $color-orange-sticky-light, $color-orange-sticky);
    grid-column: 1/2;
    height: fit-content;
    width: 80%;
    margin-top: 3.5rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(black, .1);
    transform: skewY(-.4deg) skewX(-.4deg);
    
    & > * {
        transform: skewY(.4deg) skewX(.4deg);
    }

    &__input{
        background-color: #f3ca71;
        padding: .3rem;
        padding-left: 1rem;
        padding-top: 1rem;
        border: none;
        border-radius: .2rem;
        margin-top: .4rem;
        margin-left: 3%;
        max-width: 94%;
        min-width: 94%;
        max-height: 8rem;
        height: 50%;
        outline: none;
        font-size: inherit;
        font-family: inherit;
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 7rem;
        top: -1.4rem;
        left: 9rem;
        height: 2.3rem;
        background-color: $color-tape;
        z-index: 4;
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        margin-right: .6rem;
        transform: translateY(0.1rem) skewY(.4deg) skewX(.4deg);
    }
}
