.StudyPartnersSticky{
    background-image: linear-gradient(to bottom, $color-green-sticky, $color-green-sticky-dark);
    min-height: 8.3rem;
    grid-column: 2/-1;
    width: 93%;
    justify-self: start;
    align-self: start;
    margin-top: 4.4rem;
    padding: 1rem;
    transition: all 3s;
    box-shadow: 1rem 1rem 1rem rgba(black, .1);
    transform: skewX(.6deg) skewY(-.3deg);

    & > * {
        transform: skewX(-.6deg) skewY(.3deg);
    }
    &__input{
        background-color: #b7f5a8;
        border: none;
        outline: none;
        border-radius: .2rem;
        display: inline-block;
        width: 37%;
        height: 2.5rem;
        margin-left: 2rem;
        transform: translateY(-.3rem) skewX(-.6deg) skewY(.3deg);
        padding-left: .7rem;
        padding-top: .2rem;
        font-size: 1.6rem;
        font-family: inherit;
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 7rem;
        top: -1.5rem;
        left: 42%;
        height: 2.3rem;
        background-color: $color-tape;
        z-index: 4;
    }
    
    &__icon{
        width: 2rem;
        height: 2rem;
        margin-right: .7rem;
        transform: translateY(.2rem) skewX(-.6deg) skewY(.3deg);

        &--plus{
            margin-left: 1rem;
            height: 1.5rem;
            width: 1.5rem;
            transform: rotate(-45deg) translateY(.2rem) skewX(-.6deg) skewY(.3deg);
            transition: all .3s;

            &:hover{
                transform: rotate(-45deg) translateY(.2rem) scale(1.12) skewX(-.6deg) skewY(.3deg);
            }
            
        }

        &--button{
            background-color: transparent;
            height: 0rem;
            border: none;
            outline: none;
            
            &:active{
                transform: translateY(.1rem) skewX(-.6deg) skewY(.3deg);
            }
        }
    }

    &__form {
        display: inline;
    }

    &__none {
        display:block;
        text-align: center;
        background-color: #b7f5a8;
        border-radius: .2rem;
        padding: .4rem;
        margin-top: .4rem;
        padding-top: .8rem;
        text-transform: uppercase;
        animation: fadeIn .8s ease-in;
        letter-spacing: .2rem;
    }

}

.StudyPartnerName{
    text-align: center;
    font-size: 1.4rem;
    padding: .2rem .8rem;
    margin: .4rem;
    padding-top: .4rem;
    border-radius: .2rem;
    background-color: #b7f5a8;
    border: .1rem solid rgba(#145f1f, .6);
    display: inline-block;
    animation: fadeIn .4s ease-in;
    transform: skewX(-.6deg) skewY(.3deg);

    &__icon{
        height: 1rem;
        width: 1rem;
        margin-left: 1rem;
        opacity: 0;
        transition: all .2s;
    }

    &:hover &__icon{
       opacity: 1; 
    } 

    &--box{
        margin-top: .2rem;
        padding: .4rem .3rem;
        padding-bottom: 0;
    }

}

